<section class="slider">
    <div class="row">
        <div class="col-lg-5">
            <div class="container slider_left">
                <div class="slider_left-content">
                    <h1 class="slider_left-content--h1">Découvrez l'excellence de notre chirurgien esthétique à Paris</h1>
                    <a href="{% link devis.html %}" class="slider_left-content--btn">Prendre un rendez-vous</a>
                </div>
            </div>
        </div>
        <div class="col-lg-7">
            <div class="slider_right">
                <img src="{{site.baseurl}}/assets/img/slider/1.jpeg" class="slider_right-img" alt="Medic" style="object-fit: cover;" />
            </div>
        </div>
    </div>
</section>